
.menu{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(images/background_neon_spotlight_v5.svg);
    background-repeat: no-repeat;
}

/* PORSCHE */

.seccionPorsche{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
}
.div-Porsche{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-Porsche .fondo {
    display: flex;
    justify-content: center;
    text-align: center;

}
.div-Porsche .fongdo:hover{

}
.div-Porsche .fondo h1{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.3em;
    font-size: 75px;
    color: transparent;
    -webkit-text-stroke: 0.5px rgba(160, 0, 0, 0.404); /* añadirle bordes a letras*/
}
.div-Porsche .marca{
    padding-left: 5%;
    width: stretch;
    display: flex;
    justify-content: flex-start;
    text-align: left
}
.div-Porsche .marca a{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.4em;
    color: red;
    text-decoration: none;
}
.div-Porsche .modelo{
    padding-left: 5%;
    width: stretch;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    color: white;
    position: relative;
}
.div-Porsche .modelo a {
  font-size: 60px;
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block; /* necesario para la animacion */
}

/*Aclaracion codigo sacado de un elemento de uiverse.io */
/* línea */
/* .div-Porsche .modelo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 3px;
  background-color: rgba(255, 0, 0, 0.74);
  transition: width 0.3s ease;
}

/* hover */
/* .div-Porsche .modelo a:hover::after {
  width: 100%;
}  */

.div-Buton{
    width: stretch;
    display: flex;
    justify-content: flex-start;
}

/* From Uiverse.io by Madflows */ 
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 5px;
  background: #000000;
  background-size: 400%;
  color: #fff;
  cursor: pointer;
  margin-bottom: 150px;
  border: solid 2px red;
  margin-left: 5%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(160, 0, 0) 10.8%,
    rgb(94, 0, 0) 94.3%
  );
  transition: all 0.475s;
}

/* LAMBORGHINI */

.seccionLambo{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
}
.div-Lambo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-Lambo .fondoLambo {
    display: flex;
    justify-content: center;
    text-align: center;

}

.div-Lambo .fondoLambo h1{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.3em;
    font-size: 75px;
    color: transparent;
    -webkit-text-stroke: 0.5px rgba(255, 174, 0, 0.384); /* añadirle bordes a letras*/
}
.div-Lambo .marcaLambo{
    padding-left: 5%;
    width: stretch;
    display: flex;
    justify-content: flex-start;
    text-align: left
}
.div-Lambo .marcaLambo a{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.4em;
    color: rgb(252, 193, 0);
    text-decoration: none;
}
.div-Lambo .modeloLambo{
    padding-left: 5%;
    width: stretch;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    color: white;
    position: relative;
}
.div-Lambo .modeloLambo a {
  font-size: 60px;
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block; /* necesario para la animacion */
}

/*Aclaracion codigo sacado de un elemento de uiverse.io */
/* línea */
/* .div-Porsche .modelo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 3px;
  background-color: rgba(255, 0, 0, 0.74);
  transition: width 0.3s ease;
}

/* hover */
/* .div-Porsche .modelo a:hover::after {
  width: 100%;
}  */

.div-ButonLambo{
    width: stretch;
    display: flex;
    justify-content: flex-start;
}

/* From Uiverse.io by Madflows */ 
.buttonLambo {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 5px;
  background: #000000;
  background-size: 400%;
  color: #fff;
  cursor: pointer;
  margin-bottom: 150px;
  border: solid 2px rgb(252, 193, 0);
  margin-left: 5%;
}

.buttonLambo:hover::before {
  transform: scaleX(1);
}

.button-contentLambo {
  position: relative;
  z-index: 1;
}

.buttonLambo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(255, 196, 0) 10.8%,
    rgba(167, 128, 0, 0.726) 94.3%
  );
  transition: all 0.475s;
}

/* Ford */

.seccionFord{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
}
.div-Ford{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-Ford .fondoFord {
    display: flex;
    justify-content: center;
    text-align: center;

}

.div-Ford .fondoFord h1{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.3em;
    font-size: 75px;
    color: transparent;
    -webkit-text-stroke: 0.5px rgba(0, 119, 255, 0.384); /* añadirle bordes a letras*/
}
.div-Ford .marcaFord{
    padding-left: 5%;
    width: stretch;
    display: flex;
    justify-content: flex-start;
    text-align: left
}
.div-Ford .marcaFord a{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.4em;
    color: rgb(0, 67, 252);
    text-decoration: none;
}
.div-Ford .modeloFord{
    padding-left: 5%;
    width: stretch;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    color: white;
    position: relative;
}
.div-Ford .modeloFord a {
  font-size: 60px;
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block; /* necesario para la animacion */
}

/*Aclaracion codigo sacado de un elemento de uiverse.io */
/* línea */
/* .div-Porsche .modelo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 3px;
  background-color: rgba(255, 0, 0, 0.74);
  transition: width 0.3s ease;
}

/* hover */
/* .div-Porsche .modelo a:hover::after {
  width: 100%;
}  */

.div-ButonFord{
    width: stretch;
    display: flex;
    justify-content: flex-start;
}

/* From Uiverse.io by Madflows */ 
.buttonFord {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 5px;
  background: #000000;
  background-size: 400%;
  color: #fff;
  cursor: pointer;
  margin-bottom: 150px;
  border: solid 2px rgb(0, 109, 252);
  margin-left: 5%;
}

.buttonFord:hover::before {
  transform: scaleX(1);
}

.button-contentFord {
  position: relative;
  z-index: 1;
}

.buttonFord::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(0, 68, 255) 10.8%,
    rgba(0, 31, 167, 0.507) 94.3%
  );
  transition: all 0.475s;
}

